{{#if model.firstObject.morning.completedAll}}

  <h2>Well Done</h2>
  <h4>You've completed your morning affirmations.</h4>
  <h4>See you again tomorrow!</h4>
  <hr>
  <h4>Your affirmations:</h4>
  <ul>
  {{#each model as |morningAffirmation|}}
    {{#if morningAffirmation.completed}}
      <li>
        {{morningAffirmation.affirmation.prompt}}
        {{morningAffirmation.affirmation.response}}
      </li>
    {{/if}}
  {{/each}}
  </ul>

{{else}}

  {{#unless model.affirmationInProgress}}
  <h2>Good morning!</h2>
  <br />
  <button class='btn btn-lg btn-primary' {{action 'startAffirming' model on='click'}}>
    Start Affirming
  </button>
  <br />
  {{/unless}}

  <div>
  {{#each model as |morningAffirmation|}}
    {{#if morningAffirmation.isActive}}
      {{sunrisr-quiz morningAffirmation=morningAffirmation
                     checkMatch='checkMatch'}}
    {{/if}}
  {{/each}}
  </div>

  <br />

  {{#if model.affirmationInProgress}}
    <h4>Affirmations completed so far:</h4>
  {{/if}}

  <ul>
  {{#each model as |morningAffirmation|}}
    {{#if morningAffirmation.completed}}
      <li>
        {{morningAffirmation.affirmation.prompt}}
        {{morningAffirmation.affirmation.response}}
      </li>
    {{/if}}
  {{/each}}
  </ul>

{{/if}}
