<div class='center-text'>
{{#if model.firstObject.morning.completedAll}}

  <h1>Well Done</h1>
  <h3>You've completed your morning affirmations.</h3>
  <h3>See you again tomorrow!</h3>
  <hr>
  <h3 class='italic'>Your affirmations:</h3>
  {{#each model as |morningAffirmation|}}
    {{#if morningAffirmation.completed}}
      <h4>
        {{morningAffirmation.affirmation.prompt}} {{morningAffirmation.affirmation.response}}
      </h4>
    {{/if}}
  {{/each}}

{{else}}

  {{#unless model.affirmationInProgress}}
  <h1>Good morning!</h1>
  <br />
  <button class='btn btn-lg btn-primary' {{action 'startAffirming' model on='click'}}>
    Start Affirming
  </button>
  <br />
  {{/unless}}

  {{#if model.affirmationInProgress}}
  <div>
  {{#each model as |morningAffirmation|}}
    {{#if morningAffirmation.isActive}}
      {{sunrisr-quiz morningAffirmation=morningAffirmation
                     checkMatch='checkMatch'}}
    {{/if}}
  {{/each}}
  </div>

  <br />

  {{#if model.affirmationInProgress}}
    <h3 class='italic'>Affirmations completed so far:</h3>
  {{/if}}

  <ul>
  {{#each model as |morningAffirmation|}}
    {{#if morningAffirmation.completed}}
      <li>
        {{morningAffirmation.affirmation.prompt}}
        {{morningAffirmation.affirmation.response}}
      </li>
    {{/if}}
  {{/each}}
  </ul>
  {{/if}}

{{/if}}
</div>
