<h2>My Affirmations</h2>
<hr>

<ul>
  {{#each model as |affirmation|}}
    {{#if affirmation.isEditing}}
      {{sunrisr-affirmation-form affirmation=affirmation
                                 save='saveAffirmationEdits'
                                 cancel='cancelAffirmationEdits'}}
    {{else}}
      {{sunrisr-affirmation affirmation=affirmation
                            edit='editAffirmation'
                            delete='deleteAffirmation'}}
    {{/if}}
  {{/each}}
</ul>
<br />

<h5>Add a new affirmation:</h5>
<form {{action 'createAffirmation' on='submit'}}>
  {{input placeholder='Prompt (we will show you this part)'
          class='input-group form-control'
          value=affirmation.prompt}}
  {{input placeholder='Response (you will type this part)'
          class='input-group form-control'
          value=affirmation.response}}
  {{input type="submit"
          class='btn btn-lg btn-primary'
          value="Add Affirmation"}}
</form>
